@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

header{
    background: url(./assets/rectangle\ 112.png);
    height: 45vh;

}

a{
    text-decoration: none !important;
}

.sue{
    border: 1px solid white;
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    
}

.joha{
    border: 1px solid black;
    width: 20%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: black;
}

/* Media Query */
@media (max-width:678px){
    .cole{
        height: 100%;
    }
    .joha{
        border: 1px solid black;
        width: 45%;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: black;
    }
}
@media (max-width:918px){
    section{
        width: 100%;
    }
    
}

@media (max-width:339px){
    section{
        width: 100%;
    }
    .sue{
        border: 1px solid white;
        width: 20%;
        padding-top: 1%;
        padding-bottom: 1%;
        color: white;
        }
    .giggs{
            border: 1px solid black;
            background-color: black;
            color: white;
            width: 30%;
            text-align: center;
            padding-top: 1%;
            padding-bottom: 1%;
        }
    .joha{
            border: 1px solid black;
            width: 55%;
            text-align: center;
            padding-top: 1%;
            padding-bottom: 1%;
            background-color: black;
        }

}

