@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

header{
    background: url(./assets/rectangle\ 112.png);
    height: 45vh;

}

a{
    text-decoration: none !important;
}

.sue{
    border: 1px solid white;
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    
}

.joha{
    border: 1px solid black;
    width: 20%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: black;
}
