@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

a{
text-decoration: none !important;
}
header{
    background-color: black;
}
.sue{
    border: 1px solid white;
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    }

/* Media Query */
@media (max-width:678px){
    section{
        width: 100%;
    }
    .grid-container{
        width: 100%;

    }
    .sue{
        border: 1px solid white;
        width: 20%;
        padding-top: 1%;
        padding-bottom: 1%;
        color: white;
        }
    
}

@media (max-width:918px){
    section{
        width: 100%;
    }
}

@media (max-width:339px){
    section{
        width: 100%;
    }
    .sue{
        border: 1px solid white;
        width: 20%;
        padding-top: 1%;
        padding-bottom: 1%;
        color: white;
        }

}