@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

a{
text-decoration: none !important;
}

/* Media Query */
@media (max-width:678px){
    footer{
        width: 100%;
    }
    .grid-container{
        width: 100%;

    }
    .dave{
        width: 50%;
        
    }
    .riri{
        width: 50%;
    }
    .salah{
        width: 50%;
    }
    .scholes{
        width: 50%;
    }
    
}

@media (max-width:918px){
    footer{
        width: 100%;
    }
}

@media (max-width:339px){
    footer{
        width: 100%;
    }
    .dave{
        width: 50%;
        
    }
    .riri{
        width: 50%;
    }
    .salah{
        width: 50%;
    }
    .scholes{
        width: 50%;
    }

}